<nav class="teal darken-4">
  <div class="container">
    <%= link_to "Home", root_path, class: "brand-logo" %>
    <ul class="right">
      <li><%= link_to "View Books", books_path %></li>
      <li><%= link_to "Create Book", new_book_path %></li>
    </ul>
  </div>
</nav>